<div style="text-align:center">
  <img width="300" alt="Logo" src="/assets/images/logo.svg">
  <h1>
    Welcome to Minesweeper!
  </h1>
</div>
<div class="dialog">
  <h2>Set your options and get started.</h2>
  <div class="setting">
    <label>Board size</label>
    <ul>
      <li *ngFor="let size of boardSizes">
        <button class="option" (click)="this.gameService.setBoardSize(size)"
                [class.selected]="this.gameService.boardSize == size">
          {{size.name}}
        </button>
      </li>
    </ul>
  </div>
  <div class="setting">
    <label>Difficulty</label>
    <ul>
      <li *ngFor="let level of difficultyLevels">
        <button class="option" (click)="this.gameService.setDifficultyLevel(level)"
                [class.selected]="this.gameService.difficultyLevel == level">
          {{level.name}}
        </button>
      </li>
    </ul>
  </div>
  <button class="button start" (click)="startGame()">Start</button>
</div>
