@import "variables.scss";

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

.setting {
  margin: 1em;
  display: flex;
  align-items: center;
  label {
    float: left;
    width: 7em;
    margin-right: 1.5em;
    color: $primary-color;
    font-size: 1.3em;
  }
}

.option {
  position: relative;
  border: 0;
  color: white;
  margin: 0.1em;
  padding: 0.7em 1.5em;
  border-radius: 4px;
  background-color: $light-color;
  font-family: 'Courier New', Courier, monospace;
  &:hover {
    background-color: $light-color-faded;
  }
}

.selected {
  background-color: $dark-color;
  font-weight: bold;
  &:hover {
    background-color: $dark-color;
  }
}

.dialog {
  border: 1px dotted black;
  padding: 0.5em 2em;
}

.start {
  float: right;
}
