<div style="text-align:center">
  <img width="300" alt="Logo" src="/assets/images/logo.svg">
  <h1>
    Welcome to Minesweeper!
  </h1>
</div>
<div class="dialog">
  <h2>Set your options and get started.</h2>
  <div class="setting">
    <label>Board size</label>
    <button class="option" (click)="selectSize(BoardSize.Small)"
            [class.selected]="size == BoardSize.Small">Small</button>
    <button class="option" (click)="selectSize(BoardSize.Medium)"
            [class.selected]="size == BoardSize.Medium">Medium</button>
    <button class="option" (click)="selectSize(BoardSize.Large)"
            [class.selected]="size == BoardSize.Large">Large</button>
  </div>
  <div class="setting">
    <label>Difficulty</label>
    <button class="option" (click)="selectDifficulty(DifficultyLevel.Beginner)"
            [class.selected]="difficulty == DifficultyLevel.Beginner">Beginner</button>
    <button class="option" (click)="selectDifficulty(DifficultyLevel.Intermediate)"
            [class.selected]="difficulty == DifficultyLevel.Intermediate">Intermediate</button>
    <button class="option" (click)="selectDifficulty(DifficultyLevel.Expert)"
            [class.selected]="difficulty == DifficultyLevel.Expert">Expert</button>
  </div>
  <button class="button start" (click)="startGame()">Start</button>
</div>
