@import 'game.scss';

.counter {
  @extend .debossed;
  border-width: 1px;
  display: flex;
  justify-content: center;
  background-color: black;
}

.digit-common {
  width: 0.95em;
  height: 1.5em;
  background-size: contain;
  background-repeat: no-repeat;
}

/* Pre-loading images */
.counter:after {
  content: url(/assets/images/lcd_hyphen.svg)
           url(/assets/images/lcd_0.svg)
           url(/assets/images/lcd_1.svg)
           url(/assets/images/lcd_2.svg)
           url(/assets/images/lcd_3.svg)
           url(/assets/images/lcd_4.svg)
           url(/assets/images/lcd_5.svg)
           url(/assets/images/lcd_6.svg)
           url(/assets/images/lcd_7.svg)
           url(/assets/images/lcd_8.svg)
           url(/assets/images/lcd_9.svg);
  display: none;
}

.digit-hyphen {
  @extend .digit-common;
  background-image: url(/assets/images/lcd_hyphen.svg);
}

.digit-0 {
  @extend .digit-common;
  background-image: url(/assets/images/lcd_0.svg);
}

.digit-1 {
  @extend .digit-common;
  background-image: url(/assets/images/lcd_1.svg);
}

.digit-2 {
  @extend .digit-common;
  background-image: url(/assets/images/lcd_2.svg);
}

.digit-3 {
  @extend .digit-common;
  background-image: url(/assets/images/lcd_3.svg);
}

.digit-4 {
  @extend .digit-common;
  background-image: url(/assets/images/lcd_4.svg);
}

.digit-5 {
  @extend .digit-common;
  background-image: url(/assets/images/lcd_5.svg);
}

.digit-6 {
  @extend .digit-common;
  background-image: url(/assets/images/lcd_6.svg);
}

.digit-7 {
  @extend .digit-common;
  background-image: url(/assets/images/lcd_7.svg);
}

.digit-8 {
  @extend .digit-common;
  background-image: url(/assets/images/lcd_8.svg);
}

.digit-9 {
  @extend .digit-common;
  background-image: url(/assets/images/lcd_9.svg);
}
