<div class="dialog">
  <div class="dialog-title">
    Set your options and get started.
  </div>
  <div class="setting">
    <label>Field size</label>
    <ul>
      <li *ngFor="let size of fieldSizes">
        <button class="option" (click)="this.gameService.setFieldSize(size)"
                [class.selected]="this.gameService.fieldSize == size">
          {{size.name}}
        </button>
      </li>
    </ul>
  </div>
  <div class="setting">
    <label>Difficulty</label>
    <ul>
      <li *ngFor="let level of difficultyLevels">
        <button class="option" (click)="this.gameService.setDifficultyLevel(level)"
                [class.selected]="this.gameService.difficultyLevel == level">
          {{level.name}}
        </button>
      </li>
    </ul>
  </div>
  <div class="dialog-action-bar">
    <button class="button" (click)="startGame()">Start</button>
  </div>
</div>
