@import 'game.scss';

.bar {
  @extend .debossed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

.info {
  padding: 0 0.5em;
}

.counter {
  display: flex;
  justify-content: center;
  border-width: 1px;
  border-style: solid;
  border-top-color: $shadow-color;
  border-right-color: $light-color;
  border-bottom-color: $light-color;
  border-left-color: $shadow-color;
  background-color: black;
}

.digit-common {
  width: 0.95em;
  height: 1.5em;
  background-size: contain;
  background-repeat: no-repeat;
}

.digit-hyphen {
  @extend .digit-common;
  background-image: url(/assets/images/lcd_hyphen.svg);
}

.digit-0 {
  @extend .digit-common;
  background-image: url(/assets/images/lcd_0.svg);
}

.digit-1 {
  @extend .digit-common;
  background-image: url(/assets/images/lcd_1.svg);
}

.digit-2 {
  @extend .digit-common;
  background-image: url(/assets/images/lcd_2.svg);
}

.digit-3 {
  @extend .digit-common;
  background-image: url(/assets/images/lcd_3.svg);
}

.digit-4 {
  @extend .digit-common;
  background-image: url(/assets/images/lcd_4.svg);
}

.digit-5 {
  @extend .digit-common;
  background-image: url(/assets/images/lcd_5.svg);
}

.digit-6 {
  @extend .digit-common;
  background-image: url(/assets/images/lcd_6.svg);
}

.digit-7 {
  @extend .digit-common;
  background-image: url(/assets/images/lcd_7.svg);
}

.digit-8 {
  @extend .digit-common;
  background-image: url(/assets/images/lcd_8.svg);
}

.digit-9 {
  @extend .digit-common;
  background-image: url(/assets/images/lcd_9.svg);
}

.smiley-container {
  width: 2em;
  height: 2em;
  margin: 0.5em;
  // display: inline-block;
  border: 1px solid $shadow-color;
}

.smiley {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-image: url(/assets/images/face_happy.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  padding: 0.1em;
  box-sizing: border-box;
  @extend .embossed;
  &:active {
    @extend .debossed;
  }
}
