@import 'game.scss';

.bar {
  @extend .debossed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}

.info {
  padding: 0 0.5em;
}

.smiley-container {
  width: 2em;
  height: 2em;
  margin: 0.5em;
  border: 1px solid $shadow-color;
}

.smiley {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
  padding: 0.1em;
  box-sizing: border-box;
  @extend .embossed;
  &:active {
    @extend .debossed;
  }
}

.face-happy {
  background-image: url(/assets/images/face_happy.svg);
}

.face-surprise {
  background-image: url(/assets/images/face_surprise.svg);
}

.face-over {
  background-image: url(/assets/images/face_over.svg);
}

.face-sunglasses {
  background-image: url(/assets/images/face_sunglasses.svg);
}
