.bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px dotted grey;
}

.count {
  text-align: center;
  width: 5em;
}

.smiley {
  cursor: pointer;
  img {
    margin: 0.5em;
  }
}

.clock {
  text-align: center;
  width: 5em;
}
