<nav class="nav-bar">
  <div class="nav-title">
    <a routerLink="/"><img alt="Logo" src="/assets/images/logo.svg"></a>
    <a routerLink="/">minesweeper</a>
  </div>
  <div class="nav-items">
    <div class="nav-item">
      <a class="button" routerLink="/">New Game</a>
    </div>
    <div class="nav-item">
      <a class="button" routerLink="/options" routerLinkActive="active">Options</a>
    </div>
    <div class="nav-item">
      <a class="button" routerLink="/about" routerLinkActive="active">About</a>
    </div>
  </div>
</nav>
