@import "game.scss";

.tile {
  @extend .embossed;
  height: 1.2em;
  width: 1.2em;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  // Not pretty, but didn't find a way to correct vertical align at this scale
  padding-top: 0.15em;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  user-select: none;
}

.uncovered {
  border-top: 0.05em solid #808080;
  border-left: 0.05em solid #808080;
  border-bottom: 0;
  border-right: 0;
}

.flagged {
  background-image: url(/assets/images/flag.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.mined {
  background-image: url(/assets/images/mine.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.clickedMine {
  background-color: #FF0000;
}

.n1 {
  color: #0000FF;
  &:before {
    content: '1';
  }
}

.n2 {
  color: #008000;
  &:before {
    content: '2';
  }
}

.n3 {
  color: #FF0000;
  &:before {
    content: '3';
  }
}

.n4 {
  color: #000080;
  &:before {
    content: '4';
  }
}

.n5 {
  color: #942A2A;
  &:before {
    content: '5';
  }
}

.n6 {
  color: #008484;
  &:before {
    content: '6';
  }
}

.n7 {
  color: #000000;
  &:before {
    content: '7';
  }
}

.n8 {
  color: #808080;
  &:before {
    content: '8';
  }
}
