<div class="tile" (click)="onLeftClick()" (contextmenu)="onRightClick()"
                  [ngClass]="{'uncovered': tile.uncovered,
                              'flagged': tile.flagged,
                              'mined': tile.uncovered && tile.mined,
                              'clickedMine': tile.clickedMine,
                              'n1': tile.number === 1,
                              'n2': tile.number === 2,
                              'n3': tile.number === 3,
                              'n4': tile.number === 4,
                              'n5': tile.number === 5,
                              'n6': tile.number === 6,
                              'n7': tile.number === 7,
                              'n8': tile.number === 8}">
</div>
